<app-navbar></app-navbar>

<div class="container center-container mt-5 mb-5 pt-5 pb-4">
    <div class="" style="text-align:center;">
        <img src="./assets/images/APLogo-20-20.png" class="educacion-imagen">
    </div>
    <div class="row text-center mb-2">
      <h1 class="" style="color: white;">Agregar Hard-Skill:</h1>
    </div>
      <form #softSkillForm= "ngForm">
        
        <h4 class="p-3">Nombre Skill</h4>
        <div class="form-floating mb-3">
            <!-- Relacionamos los atributos del modelo usando el ngModel -->
            <input type="text" class="form-control" placeholder="HTML" id="nombre" [(ngModel)]= "skill.nombre" name="nombre"
            required minlength="3" maxlength="50" #nombre="ngModel">
            <div class="alert alert-danger" *ngIf= "nombre.invalid && (nombre.dirty || nombre.touched)">
              <div *ngIf= "nombre.errors.required">
                Digite el nombre por favor
              </div>
              <div *ngIf= "nombre.errors.minlength">
                Debe contener como mínimo 3 caracteres
              </div>
              <div *ngIf= "nombre.errors.maxlength">
                Debe contener como máximo 50 caracteres
              </div>
            </div>
            <label for="floatingInput">Nombre</label>
          </div>

          <h4 class="p-3">Porcentaje de conocimiento (siendo 10 el máximo y 1 el mínimo)</h4>
          <div class="form-floating">
            <input type="number" class="form-control" placeholder="4" id="porcentaje" [(ngModel)]= "skill.porcentaje" name="porcentaje"
            required min="1" max="10" #porcentaje="ngModel">
            <div class="alert alert-danger" *ngIf= "porcentaje.invalid && (porcentaje.dirty || porcentaje.touched)">
              <div *ngIf= "porcentaje.errors.required">
                Digite el porcentaje por favor
              </div>
              <div *ngIf= "porcentaje.errors.min">
                Debe como mínimo ser de 1
              </div>
              <div *ngIf= "porcentaje.errors.max">
                Debe como máximo ser de 10
              </div>
            </div>
            <label for="floatingInput number">Porcentaje</label>
          </div>
        
          <div class="d-grid gap-2 pt-5 mb-4 mt-3">
            <!-- El button debe ser de tipo submit para poder enviar los datos -->
            <button (click)= "actualizarSoftSkill()"  class=" btn btn-success" type="submit" [disabled]= "!softSkillForm.form.valid">Actualizar</button>
          </div>
      </form>
</div>